alembic
asyncpg
bcrypt==4.0.1
celery
chromadb
cloudinary
fastapi
google-genai
passlib
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
pyjwt
pypdf
python-jose[cryptography]
python-multipart
redis
scikit-learn
sqlalchemy
uvicorn[standard]